<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Blog and Movies Database</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-0 d-flex flex-row justify-content-between align-items-center">

  <div class="collapse navbar-collapse d-flex flex-row align-items-end justify-content-start mt-3" id="navbarsExampleDefault">
    <ul class="d-flex flex-row align-items-center justify-content-center">
      
      <li><a class="navbar-brand" href="{{ '/delete_user/' if user and user.name else '/' }}">Welcome <strong>{{ user.name if user and user.name else 'Guest' }}</strong></a></li>

      <li>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/">All posts {% if all_posts_counter > 0 %} ({{ all_posts_counter }}) {% endif %}</a>
          {% for category in all_categories %}

          {% set published_entries = [] %}
          {% for entry in category.entries %}
            {% if entry.is_published %}
              {% set published_entries = published_entries.append(entry) %}
            {% endif %}
          {% endfor %}

          <a class="dropdown-item" href="/filter/?f={{ category.name }}">#{{ category.name }} ({{ published_entries|length }})</a>
          {% endfor %}
          {% if session.logged_in %}
          <a class="dropdown-item" href="/drafts/">Drafts {% if drafts_counter > 0 %} ({{ drafts_counter }}) {% endif %}</a>
          {% endif %}
          <a class="dropdown-item" href="/new-post/">New Entry</a>
        </div>
      </div>
      </li>

      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movies
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/movies/">All movies</a>
            {% if session.logged_in %}
            <a class="dropdown-item" href="/favorites/">Favorites {% if favorites_counter() > 0 %} ({{ favorites_counter() }}) {% endif %}</a>
            {% endif %}
          </div>
        </div>
        </li>

    </ul>
  </div>

  <ul class="navbar-nav mr-auto">
  </ul>

  {% if template_name == 'homepage' %}
  <form class="form-inline my-2 my-lg-0 mr-2" action="{{ url_for('search_posts') }}" method="GET">
    <input class="form-control mr-sm-2 search_input" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="Search all posts" aria-label="Search" name="q">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  {% elif template_name == 'drafts' %}
  <form class="form-inline my-2 my-lg-0 mr-2" action="{{ url_for('search_drafts') }}" method="GET">
    <input class="form-control mr-sm-2 search_input" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="Search all drafts" aria-label="Search" name="q">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  {% endif %}

  {% if session.logged_in %}
  <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="POST">
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
  </form>
  {% else %}
  <a href="{{ url_for('login') }}" class="btn btn-outline-warning my-2 my-lg-0">Login</a>
  {% endif %}

</nav>

<main role="main" class="container mt-5 pt-5">

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} mt-3" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}

</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"></script>

<script type='module' src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>